name: Cloud Build Rust
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Patch Cargo.toml and Auth
        shell: pwsh
        run: |
          # 1. Força a troca de SSH para HTTPS diretamente no arquivo de configuração do projeto
          (Get-Content Cargo.toml) -replace 'ssh://git@github.com/', 'https://github.com/' | Set-Content Cargo.toml
          
          # 2. Configura o Git para usar o Token interno do GitHub para evitar pedidos de login/senha
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"

      - name: Build STXTool
        env:
          # Garante que o Cargo use o Git do sistema que configuramos acima
          CARGO_NET_GIT_FETCH_WITH_CLI: true
        run: cargo build --release

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: STXTool-Windows
          path: target/release/stxtool.exe
