name: Cloud Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build STXTool
        run: cargo build --release
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: STXTool-Windows
          path: target/release/stxtool.exe
